@import "../css/font-awesome.min.css";
.border-box {
  box-sizing: border-box;
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
body {
  font-size: 24px;
}
@media screen and (max-width: 1920px) {
  body {
    font-size: 22px;
  }
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 980px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 736px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 360px) {
  body {
    font-size: 10px;
  }
}
body {
  font-family: Times, "Times New Roman", sans-serif, serif, monospace;
  line-height: 1;
  color: #666666;
  background-color: #ffffff;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
.button {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 1em;
  color: #ffffff;
  padding: 0.2em 0.5em;
}
.input-item {
  font-size: 1em;
  padding: 0.8em;
  border: 1px solid #9c9c9c;
  background-color: #ffffff;
  width: 100%;
}
.input-item:focus {
  outline: 3px solid #0286fe;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.show {
  display: block;
}
.hide {
  display: none;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4em;
  background-color: #000000;
  padding: 0 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  transition: background-color 1s ease;
}
#header .logo {
  display: flex;
  height: 3em;
  align-items: center;
}
#header .logo img {
  width: 3em;
  height: 3em;
  margin-right: 0.2em;
}
#header .logo h1 {
  display: inline-block;
  color: #ffffff;
}
#header .menus li {
  display: inline-block;
  margin: 0 1em;
}
#header .menus li a {
  display: inline-block;
  color: #ffffff;
  height: 4em;
  padding-top: 1.5em;
  font-size: 1em;
  font-weight: 200;
}
#header .menus li:hover,
#header .menus li:active,
#header .menus li.active {
  border-bottom: 1px solid #ff0000;
}
#header .menus li:hover a,
#header .menus li:active a,
#header .menus li.active a {
  color: #ff0000;
}
#header .menus > .close-icon {
  display: none;
  opacity: 0;
  width: 2em;
  height: 2em;
  text-align: center;
  transition: opacity 1s ease;
}
#header .menus > .close-icon:before {
  font-size: 1em;
  line-height: 2;
  color: #ffffff;
}
#header .contact {
  display: flex;
  align-items: center;
}
#header .contact img {
  width: 2em;
  height: 2em;
  margin-right: 0.2em;
}
#header .contact span {
  margin-right: 2em;
  font-size: 0.8em;
  font-weight: 200;
  color: #ffffff;
}
#header .contact a {
  font-size: 0.8em;
  font-weight: 200;
  padding: 0.5em 1em;
}
#header .contact a:active,
#header .contact a:hover {
  background-color: #ff0000;
  border-color: #ff0000;
}
#header.initial {
  background-color: transparent;
}
#header.initial .menus li:hover,
#header.initial .menus li:active,
#header.initial .menus li.active {
  border-bottom: none;
}
#header .menu-icon {
  display: none;
  width: 3em;
  height: 3em;
  text-align: center;
}
#header .menu-icon:before {
  font-size: 1.5em;
  line-height: 2;
  color: #ffffff;
}
@media screen and (max-width: 980px) {
  #header .menu-icon {
    display: block;
  }
  #header .contact {
    display: none;
  }
  #header .menus {
    position: fixed;
    width: 15em;
    transform: translateX(15em);
    visibility: hidden;
    opacity: 0;
    transition: transform 1s ease, visibility 1s ease;
    padding: 3em 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2b303b;
  }
  #header .menus li {
    display: block;
    margin: 0;
    padding: 0.5em 1em;
    text-align: center;
  }
  #header .menus li a {
    display: inline-block;
    color: #ffffff;
    height: 4em;
    padding-top: 1.5em;
    font-size: 1em;
    font-weight: 200;
  }
  #header .menus li:hover,
  #header .menus li:active,
  #header .menus li.active {
    border-bottom: none;
    background-color: #2b2f31;
  }
  #header .menus li:hover a,
  #header .menus li:active a,
  #header .menus li.active a {
    color: #ff0000;
  }
  #header .menus .close-icon {
    display: block;
    opacity: 1;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
}
body.is-menus-side-show:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}
body.is-menus-side-show #header .menus {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
#banners {
  width: 100%;
  height: 100vh;
  position: relative;
}
#banners .swiper-container {
  width: 100%;
  height: 100%;
}
#banners .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
}
#banners .swiper-container .swiper-slide:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #353b3d;
  opacity: 0.7;
}
#banners .swiper-pagination {
  z-index: 200;
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}
#banners .swiper-pagination > * {
  margin: 0 2px;
}
#banners .banner-content {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2em;
  justify-content: space-around;
  align-items: center;
}
#banners .banner-content section {
  opacity: 1;
  transform: translateX(0);
  transition: transform 2s ease, opacity 1s ease;
}
#banners .banner-content section header {
  margin-bottom: 2em;
}
#banners .banner-content section header h2 {
  font-size: 2.2em;
  line-height: 1.2;
  color: #ffffff;
}
#banners .banner-content section header span {
  margin-top: 0.5em;
  display: block;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ffffff;
}
#banners .banner-content section .content a {
  height: 3em;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 200;
  padding: 0.6em 2em;
  border-radius: 1.5em;
  background-color: #ff0000;
  border: 1px solid #ff0000;
}
#banners .banner-content section .content a:active,
#banners .banner-content section .content a:hover {
  background-color: transparent;
}
#banners .banner-content img {
  display: block;
  min-width: 20em;
  min-height: 20em;
  max-width: 24em;
  max-height: 24em;
  transform: rotate(0);
  transition: transform 2s ease, opacity 1s ease;
}
@media screen and (max-width: 980px) and (orientation: portrait) {
  #banners .banner-content {
    flex-direction: column;
    justify-content: center;
  }
  #banners .banner-content img {
    margin-top: 3em;
    margin-left: -4em;
  }
}
body.is-loading #banners .banner-content section {
  opacity: 0;
  transform: translateX(-5em);
}
body.is-loading #banners .banner-content img {
  opacity: 0;
  transform: rotate(-180deg);
}
#sides {
  width: 100%;
  background-color: #32383d;
  padding: 2em 3em;
  display: flex;
  align-items: center;
}
#sides ul {
  display: flex;
  justify-content: center;
}
#sides ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}
#sides ul li img {
  display: block;
  width: 6em;
  height: 5em;
  margin-bottom: 1em;
}
#sides ul li p {
  font-size: 0.9em;
  line-height: 1.2;
  overflow-wrap: break-word;
}
@media screen and (max-width: 736px) {
  #sides {
    padding: 2em 0;
  }
  #sides ul {
    width: 100%;
    flex-direction: column;
  }
  #sides ul li {
    flex-direction: row;
    margin: 1em 0;
  }
  #sides ul li p {
    max-width: 20em;
    margin-left: 2em;
  }
}
#advantages {
  width: 100%;
  background-size: cover;
}
#advantages .inner-content {
  width: 100%;
  background-color: rgba(249, 249, 249, 0.5);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#advantages .inner-content > header {
  margin: 2em;
  text-align: center;
}
#advantages .inner-content > header h3 {
  font-size: 2em;
  font-weight: 300;
  color: #32383d;
  line-height: 1.5;
}
#advantages .inner-content > header span {
  display: block;
  font-size: 1em;
  line-height: 1.5;
  color: #696969;
}
#advantages .inner-content > .content {
  width: 80%;
}
#advantages .inner-content > .content ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#advantages .inner-content > .content ul li.item {
  padding: 2em 1em;
  margin: 1em;
  border-radius: 1em;
  border: 1px solid #ffb597;
}
#advantages .inner-content > .content ul li.item header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#advantages .inner-content > .content ul li.item header img {
  min-width: 7em;
  min-height: 6em;
  margin-bottom: 1em;
}
#advantages .inner-content > .content ul li.item header h5 {
  color: #f14e00;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
#advantages .inner-content > .content ul li.item .content {
  margin-top: 1em;
}
#advantages .inner-content > .content ul li.item .content p {
  font-size: 0.7em;
  line-height: 1.5;
  font-weight: 400;
  color: #807fa0;
  min-width: 15em;
  overflow-wrap: break-word;
  text-align: center;
}
#advantages .inner-content > .content ul li.item:hover {
  background-color: #ffffff;
}
@media screen and (max-width: 736px) {
  #advantages .inner-content > .content {
    width: 100%;
  }
  #advantages .inner-content > .content ul {
    flex-direction: column;
  }
}
#services {
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 2em 0;
}
#services .pagination-title {
  display: none;
}
#services .swiper-pagination {
  position: relative;
  width: 100%;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .swiper-pagination > .button {
  margin: 1em 2em;
  font-size: 0.8em;
  padding: 1em 2em;
  border-radius: 1.5em;
  background-color: #f14e00;
  color: #ffffff;
  height: 3em;
  min-width: 9em;
  border: 1px solid #f14e00;
  opacity: 1;
}
#services .swiper-pagination > .button.swiper-pagination-bullet-active {
  background-color: #a8a8a8;
  border: 1px solid #a8a8a8;
}
#services .swiper-container {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 2em;
}
#services .swiper-container .swiper-wrapper {
  width: 100%;
}
#services .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#services .swiper-container .swiper-wrapper .swiper-slide > section header h2 {
  font-size: 1.5em;
  line-height: 2;
  font-weight: 400;
  color: #000000;
  margin-bottom: 1em;
}
#services .swiper-container .swiper-wrapper .swiper-slide > section .content p {
  font-size: 0.9em;
  line-height: 1.5;
  font-weight: 400;
  overflow-wrap: break-word;
  color: #808080;
  margin-bottom: 1.5em;
}
#services .swiper-container .swiper-wrapper .swiper-slide > section .content ul li {
  height: 2em;
  line-height: 2em;
  margin-left: 0.5em;
}
#services .swiper-container .swiper-wrapper .swiper-slide > section .content ul li input[type="checkbox"] {
  display: none;
}
#services .swiper-container .swiper-wrapper .swiper-slide > section .content ul li input[type="checkbox"]:checked + label span {
  color: #ffffff;
}
#services .swiper-container .swiper-wrapper .swiper-slide > section .content ul li label {
  color: #949494;
}
#services .swiper-container .swiper-wrapper .swiper-slide > section .content ul li label span {
  color: #aaaaaa;
  background-color: #aaaaaa;
  font-size: 1em;
  border-radius: 3px;
}
#services .swiper-container .swiper-wrapper .swiper-slide > section .content .button {
  margin: 1em 0 1em 0.5em;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 2px;
  padding: 0.5em 2.5em;
  border-radius: 5px;
  background-color: #f14e00;
  color: #fffbf9;
  border: 1px solid #f14e00;
  transition: background-color 1s ease;
}
#services .swiper-container .swiper-wrapper .swiper-slide > section .content .button:hover,
#services .swiper-container .swiper-wrapper .swiper-slide > section .content .button:active {
  background-color: #fafafa;
  color: #cccccc;
  border: 1px solid #fafafa;
}
#services .swiper-container .swiper-wrapper .swiper-slide > img {
  max-width: 24em;
  max-height: 12em;
}
@media screen and (max-width: 736px) {
  #services .swiper-pagination > .button {
    margin: 1em 0.5em;
    padding: 1em 1em;
  }
  #services .swiper-container .swiper-wrapper .swiper-slide > img {
    display: none;
  }
}
#evaluate {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#evaluate .inner-content {
  width: 100%;
  background-color: rgba(249, 249, 249, 0.9);
  padding: 3em 0;
}
#evaluate .inner-content > header {
  position: relative;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  border-bottom: 2px solid #eaeaea;
}
#evaluate .inner-content > header h2 {
  font-size: 1.5em;
  line-height: 2;
  color: #f14e00;
  margin: 1em 0;
}
#evaluate .inner-content > .content {
  position: relative;
  width: 90%;
  margin: 0 5%;
}
#evaluate .inner-content > .content .swiper-container {
  width: 100%;
}
#evaluate .inner-content > .content .swiper-container .swiper-slide {
  width: 100%;
  padding: 2em 4em;
}
#evaluate .inner-content > .content .swiper-container .swiper-slide section .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 736px) {
  #evaluate .inner-content > .content .swiper-container .swiper-slide section .content {
    flex-direction: column;
  }
}
#evaluate .inner-content > .content .swiper-container .swiper-slide section .content .avatar {
  width: 10em;
  height: 10em;
  border-radius: 5em;
  margin: 0 2em;
}
#evaluate .inner-content > .content .swiper-container .swiper-slide section .content .info {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
}
#evaluate .inner-content > .content .swiper-container .swiper-slide section .content .info p {
  font-size: 0.8em;
  line-height: 1.5;
  font-weight: 300;
  color: #808080;
}
#evaluate .inner-content > .content .swiper-container .swiper-slide section .content .info .recommend {
  width: 100%;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#evaluate .inner-content > .content .swiper-container .swiper-slide section .content .info .recommend .user-info h3 {
  font-size: 1.2em;
  line-height: 1.8;
  color: #6a6a6a;
}
#evaluate .inner-content > .content .swiper-container .swiper-slide section .content .info .recommend .user-info span {
  display: block;
  font-size: 0.9em;
  line-height: 1.2;
  color: #ff0000;
}
#evaluate .inner-content > .content .swiper-container .swiper-slide section .content .info .recommend img {
  display: block;
  width: 8em;
  height: 1.5em;
}
#evaluate .inner-content > .content .swiper-container .swiper-button-prev,
#evaluate .inner-content > .content .swiper-container .swiper-button-next {
  background-image: none !important;
  text-align: center;
}
#evaluate .inner-content > .content .swiper-container .swiper-button-prev i,
#evaluate .inner-content > .content .swiper-container .swiper-button-next i {
  font-size: 1em;
  padding: 0.5em;
  width: 2em;
  background-color: #ccc;
  color: #ffffff;
  border-radius: 3px;
}
#post-message {
  width: 100%;
  background-color: #f7f7f7;
  border-top: 1px solid #e0e0e0;
  padding: 3em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#post-message .form {
  margin-right: 3em;
}
#post-message .form .form-header {
  margin-bottom: 0.2em;
}
#post-message .form .form-header h3 {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 400;
  color: #f14e00;
}
#post-message .form .form-fields .form-item {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 0.8em;
  float: left;
}
#post-message .form .form-fields .form-item.half {
  display: block;
  width: 50%;
}
#post-message .form .form-fields .form-item label {
  font-size: 1em;
  color: #797cab;
  display: block;
  margin-bottom: 0.5em;
}
#post-message .form .form-fields .form-item label .required {
  color: #ff0000;
}
#post-message .form .form-actions {
  margin-top: 0.2em;
  margin: 0.5em 0 1em 0.5em;
}
#post-message .form .form-actions .button {
  background-color: #f14e00;
  padding: 0.5em 3em;
  font-size: 0.9em;
  line-height: 1.2;
  letter-spacing: 0.5em;
}
#post-message .form .form-actions .button:hover {
  background-color: #983a0c;
}
#post-message .form .tips p {
  font-size: 0.8em;
  line-height: 1.8;
  color: #666666;
  font-weight: 400;
}
#post-message .form .tips p em {
  color: #f14e00;
  font-style: normal;
}
#post-message .form .tips p a {
  color: #f16100;
}
#post-message .form .tips p a:hover,
#post-message .form .tips p a:active {
  cursor: pointer;
}
#post-message img {
  margin: 0 2em;
  display: block;
  max-width: 25em;
  max-height: 25em;
}
@media screen and (max-width: 980px) {
  #post-message img {
    display: none;
  }
}
#trial {
  width: 100%;
  background-color: #22282d;
}
#trial .content {
  width: 100%;
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#trial .content h3 {
  font-size: 1em;
  line-height: 1.5;
  color: #807c7d;
}
#trial .content .button {
  font-style: 1em;
  color: #ffffff;
  background-color: #f14e00;
  padding: 0.6em 2em;
  border-radius: 1.5em;
  border: none;
}
#trial .content .button:hover,
#trial .content .button:active {
  background-color: #983a0c;
}
@media screen and (max-width: 736px) {
  #trial .content {
    flex-direction: column;
  }
  #trial .content h3 {
    margin-bottom: 1em;
  }
}
#footer {
  width: 100%;
  background-color: #32383d;
  padding: 3em;
}
#footer > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#footer > ul .item {
  margin: 0 1em;
}
#footer > ul .item h3 {
  font-size: 1em;
  line-height: 1.5;
  color: #89a7a9;
  margin-bottom: 1em;
}
#footer > ul .item .content li {
  margin: 0.5em 0;
  color: #808080;
  font-size: 0.8em;
  line-height: 1.5;
  min-width: 15em;
  max-width: 20em;
}
#footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
#footer .copyright ul li {
  margin: 0 0.5em;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.5;
  color: #89a7a9;
}
@media screen and (max-width: 980px) {
  #footer > ul .item {
    margin: 0 0.5em;
  }
  #footer > ul .item .content li {
    margin: 0.5em 0;
    min-width: 8em;
    max-width: 10em;
  }
}
@media screen and (max-width: 736px) {
  #footer > ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #footer > ul .item {
    margin-bottom: 0.5em;
    width: 60%;
    padding: 0.5em;
  }
  #footer > ul .item h3 {
    font-size: 1em;
    line-height: 1.5;
    color: #89a7a9;
    margin-bottom: 1em;
    text-align: center;
  }
  #footer > ul .item .content li {
    margin: 0.5em 0;
    text-align: center;
    color: #808080;
    font-size: 0.8em;
    line-height: 1.5;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #footer .copyright ul li {
    display: block;
  }
}
#jump-top {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 100;
  background-color: transparent;
}
#jump-top i {
  color: #ffffff;
}
